.logo {
    font-family: var(--secondary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.header-logo-part {
    color: var(--secondary-text-color-theme-light);
}

.footer-logo-part {
    color: var(--primary-text-color-theme-dark);
}